APP_NAME="Rede Dusk"
APP_ENV=testing
APP_KEY= # cole sua chave do .env aqui
APP_DEBUG=true
APP_URL=http://rede

# DB
DB_CONNECTION=mysql
DB_HOST=rede_mariadb
DB_PORT=3306
DB_DATABASE=rede_dusk
DB_USERNAME=rede
DB_PASSWORD=rede

REPLICADO_FAKE=1

# Filas
QUEUE_CONNECTION=sync

# Drivers de Performance para Testes
# Usamos 'array' ou 'file' para garantir que os testes não poluam o cache real
CACHE_DRIVER=array
FILESYSTEM_DISK=local

SESSION_DRIVER=file
SESSION_LIFETIME=120

# Configurações de Email (Não envia emails reais durante o teste)
MAIL_MAILER=log

# Dusk
DUSK_START_MAXIMIZED=true
DUSK_HEADLESS_DISABLED=true

USP_THEME_SKIN=fflch

SENHAUNICA_KEY=faker
SENHAUNICA_SECRET=faker
SENHAUNICA_CALLBACK_ID=1
SENHAUNICA_ADMINS=111111
SENHAUNICA_DEV="http://auth.local:3141/wsusuario/oauth"
DUSK_DRIVER_URL=http://rede_selenium:4444   